body{
   margin: 0px;
   padding: 0px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background: linear-gradient(to bottom, rgba(3, 3, 3, 0.541),rgba(0, 0, 0, 0.692)), url(/background.png) ;
   background-size: contain;
}  

